@font-face {
  font-family: 'NeutraBarbieDemi';
  src: url(./fonts/70_NeutraBarbie\ Text\ Demi.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'NeutraBarbieDisplayBold';
  src: url(./fonts/440_NeutraBarbie\ Display\ Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'NeutraBarbieItalic';
  src: url(./fonts/601_NeutraBarbie\ Text\ Demi.ttf) format('truetype');
}


div {
  font-family: 'NeutraBarbieDemi';
  color:transparent;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 2.5vw;
  white-space: nowrap;
  right:355px;
  top:200px;
  z-index: 8;
  position: absolute;
}

button {
  z-index: 10;
}

iframe {
  z-index: 14;
  position:absolute;
  width:480px;
  height:350px;
  top:310px;
  right:735px;
}

.button {
  background-image: url(img/785.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  outline: none;
  background-color: transparent;
  white-space: nowrap;
  transition-duration: 0.02s;
  border: none;
  right:350px;
  top: 625px;
  position: absolute;
  height: 80px;
  width: 270px;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 4vh;
  color:white;
}
.button:hover {
  background-image: url(img/786.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  outline: none;
  background-color: transparent;
  white-space: nowrap;
  border: none;
}

#shop {
  color: #d55da5;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 1.4vw;
  white-space: nowrap;
  right:447px;
  top:300px;
  z-index: 8;
  position: absolute;
}

#games {
  color: #d55da5;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 1.4vw;
  white-space: nowrap;
  right:459px;
  top:345px;
  z-index: 8;
  position: absolute;
}

#fashion {
  color: #d55da5;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 1.4vw;
  white-space: nowrap;
  right:423px;
  top:390px;
  z-index: 8;
  position: absolute;
}

#chat {
  color: #d55da5;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 1.4vw;
  white-space: nowrap;
  right:410px;
  top:435px;
  z-index: 8;
  position: absolute;
}

#notice {
  color: #f0b5de;
  font-family: 'NeutraBarbieItalic';
  font-size: 1.3vw;
  white-space: nowrap;
  text-align: center;
  right:357px;
  top:470px;
  z-index: 8;
  position: absolute;
}

#shopIcon {
  transform: scale(0.4, 0.4);
  z-index: 9;
  right:525px;
  top:270px;
  position:absolute;
}

#gamesIcon {
  transform: scale(0.4, 0.4);
  z-index: 9;
  right:512px;
  top:309px;
  position:absolute;
}

#fashionIcon {
  transform: scale(0.4, 0.4);
  z-index: 9;
  right:512px;
  top:350px;
  position:absolute;
}

#chatIcon {
  transform: scale(0.4, 0.4);
  z-index: 9;
  right:504px;
  top:391px;
  position:absolute;
}

.Background {
  background: url("./img/479 3.png") no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100vw;
  height: 100vh;
  /*grid-template: 50px 50px / 100px auto 100px;*/
}

/*1.1*/
item:first-child {
  grid-column: 1 / 3; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 1 / 3;    
}

/*1.2*/
item:nth-child(2) {
  grid-column: 3 / 11; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 1 / 3;   
}

/*1.3*/
item:nth-child(3) {
  grid-column: 11 / 13; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 1 / 3;  
}

/*item:nth-child(6) {
  grid-column: 3 / 11; 
  grid-row: 2 / 12;  
}*/

/*1.9*/
item:nth-child(9) {
  grid-column: 6 / 8; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 2 / 4;  
}

/*4.8*/
item:nth-child(44) {
  grid-column: 6 / 8; 
  grid-row: 7 / 9;  
}

item {
  /*background-color: aqua;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border: 1px solid transparent;
}

.rb {
  width: 100px;
  height: 100px;
}

#rb {
  transform: scale(0.3, 0.3);
  z-index: 5;
  top: -25px;
  left: 135px;
  position:fixed;
}

.lb {
  width: 100px;
  height: 100px;
}

#lb {
  transform: scale(0.3, 0.3);
  z-index: 5;
  top: 50px;
  right: 200px;
  position:fixed;
}

.bgwModal {
  width: 100px;
  height: 100px;
}

#bgwModal {
  transform: scale(0.4, 0.4);
  z-index: 6;
  right:100px;
  top:-240px;
  position: absolute;
}

#rulestxt{
  z-index: 13;
  color: white;
  top: 805px;
  right: 645px;
  position:absolute;
}

#rulesFG {
  z-index: 12;
  top: 780px;
  right: 395px;
  transform: scale(0.4, 0.4);
  position:absolute;
}

#rulesBG {
  z-index: 11;
  top: 765px;
  right: 380px;
  transform: scale(0.4, 0.4);
  position:absolute;
}

#rulesHL{
  z-index: 14;
  top: 782px;
  right: 405px;
  transform: scale(0.4, 0.4);
  position:absolute;
}

#rulesLink:hover~#rulesFG{
  display: none;
}

#socialstxt{
  z-index: 13;
  color: white;
  top: 805px;
  right: 409px;
  position:absolute;
}

#socialsFG {
  z-index: 12;
  top: 780px;
  right: 130px;
  transform: scale(0.4, 0.4);
  position:absolute;
}

#socialsLink:hover~#socialsFG{
  display: none;
}

#socialsBG {
  z-index: 11;
  top: 765px;
  right: 115px;
  transform: scale(0.4, 0.4);
  position:absolute;
}

#socialsHL{
  z-index: 14;
  top: 785px;
  right: 140px;
  transform: scale(0.4, 0.4);
  position:absolute;
}

.barbie {
  width: 100px;
  height: 100px;
}

#barbie {
  transform: scale(0.35, 0.35);
  z-index: 6;
  top: -250px;
  right: 1050px;
  position:absolute;
}

.cones {
  width: 100px;
  height: 100px;
}

#cones {
  transform: scale(0.35, 0.35);
  z-index: 7;
  top: 400px;
  right: 700px;
  position:absolute;
}

#bgwPicFrame {
  transform: scale(0.4, 0.4);
  z-index: 7;
  position:absolute;
  top:-55px;
  right:260px;
}

#bgwLogo {
  transform: scale(0.35, 0.35);
  z-index: 4;
  bottom: 225px;
  position:absolute;
}

#bgwBG {
  transform: scale(0.4, 0.4);
  z-index: 3;
  left: 5px;
  top: 5px;
  position:relative;
}

#bgwFrame {
  transform: scale(0.4, 0.4);
  z-index: 2;
  position:absolute;
}

#bgwDesign {
  transform: scale(0.4, 0.4);
  z-index: 1;
  position:absolute;
}

.base {
  right: -715px;
  top: -475px;
  position:fixed;
}