@font-face {
  font-family: 'NeutraBarbieDemi';
  src: url(./fonts/70_NeutraBarbie\ Text\ Demi.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'NeutraBarbieDisplayBold';
  src: url(./fonts/440_NeutraBarbie\ Display\ Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'NeutraBarbieItalic';
  src: url(./fonts/601_NeutraBarbie\ Text\ Demi.ttf) format('truetype');
}


div {
  font-family: 'NeutraBarbieDemi';
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 2.5vw;
  white-space: nowrap;
  right:257px;
  top:208px;
  z-index: 8;
  position: absolute;
}

#shop {
  color: #d55da5;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 1.4vw;
  white-space: nowrap;
  right:342px;
  top:307px;
  z-index: 8;
  position: absolute;
}

#games {
  color: #d55da5;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 1.4vw;
  white-space: nowrap;
  right:353px;
  top:350px;
  z-index: 8;
  position: absolute;
}

#fashion {
  color: #d55da5;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 1.4vw;
  white-space: nowrap;
  right:321px;
  top:391px;
  z-index: 8;
  position: absolute;
}

#chat {
  color: #d55da5;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 1.4vw;
  white-space: nowrap;
  right:309px;
  top:433px;
  z-index: 8;
  position: absolute;
}

#notice {
  color: #f0b5de;
  font-family: 'NeutraBarbieItalic';
  font-size: 1.3vw;
  white-space: nowrap;
  text-align: center;
  right:257px;
  top:470px;
  z-index: 8;
  position: absolute;
}

#shopIcon {
  transform: scale(0.4, 0.4);
  z-index: 9;
  right:402px;
  top:270px;
  position:absolute;
}

#gamesIcon {
  transform: scale(0.4, 0.4);
  z-index: 9;
  right:389px;
  top:309px;
  position:absolute;
}

#fashionIcon {
  transform: scale(0.4, 0.4);
  z-index: 9;
  right:388px;
  top:350px;
  position:absolute;
}

#chatIcon {
  transform: scale(0.4, 0.4);
  z-index: 9;
  right:381px;
  top:391px;
  position:absolute;
}

.Background {
  background: url("./img/479 3.png") no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100vw;
  height: 100vh;
  /*grid-template: 50px 50px / 100px auto 100px;*/
}

/*1.1*/
item:first-child {
  grid-column: 1 / 3; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 1 / 3;    
}

/*1.2*/
item:nth-child(2) {
  grid-column: 3 / 11; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 1 / 3;   
}

/*1.3*/
item:nth-child(3) {
  grid-column: 11 / 13; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 1 / 3;  
}

/*item:nth-child(6) {
  grid-column: 3 / 11; 
  grid-row: 2 / 12;  
}*/

/*1.9*/
item:nth-child(9) {
  grid-column: 6 / 8; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 2 / 4;  
}

/*4.8*/
item:nth-child(44) {
  grid-column: 6 / 8; 
  grid-row: 7 / 9;  
}

item {
  /*background-color: aqua;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border: 1px solid rgb(0, 0, 0);
}

.rb {
  width: 100px;
  height: 100px;
}

#rb {
  transform: scale(0.3, 0.3);
  z-index: 5;
  top: 5px;
  right: 95px;
  position:relative;
}

.lb {
  width: 100px;
  height: 100px;
}

#lb {
  transform: scale(0.3, 0.3);
  z-index: 5;
  bottom: 0px;
  left: 150px;
  position:relative;
}

.bgwModal {
  width: 100px;
  height: 100px;
}

#bgwModal {
  transform: scale(0.4, 0.4);
  z-index: 6;
  top: 240px;
  left: 100px;
  position:relative;
}

.barbie {
  width: 100px;
  height: 100px;
}

#barbie {
  transform: scale(0.35, 0.35);
  z-index: 6;
  top: 290px;
  right: 140px;
  position:relative;
}

.cones {
  width: 100px;
  height: 100px;
}

#cones {
  transform: scale(0.35, 0.35);
  z-index: 7;
  top: 0px;
  right: 200px;
  position:relative;
}

.bgwPicFrame {
  width: 100px;
  height: 100px;
}

#bgwPicFrame {
  transform: scale(0.4, 0.4);
  z-index: 7;
  top: 75px;
  position:relative;
}


#bgwLogo {
  transform: scale(0.35, 0.35);
  z-index: 4;
  top: 50px;
  position:relative;
}

#bgwBG {
  transform: scale(0.4, 0.4);
  z-index: 3;
  left: 5px;
  top: 5px;
  position:relative;
}

#bgwFrame {
  transform: scale(0.4, 0.4);
  z-index: 2;
  position:absolute;
}

#bgwDesign {
  transform: scale(0.4, 0.4);
  z-index: 1;
  position:absolute;
}
