@font-face {
  font-family: 'NeutraBarbieDemi';
  src: url(./fonts/70_NeutraBarbie\ Text\ Demi.ttf) format('truetype');
}

@font-face {
  font-family: 'NeutraBarbieDisplayBold';
  src: url(./fonts/440_NeutraBarbie\ Display\ Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'NeutraBarbieItalic';
  src: url(./fonts/601_NeutraBarbie\ Text\ Demi.ttf) format('truetype');
}

button {
  z-index: 10;
}

div {
  font-family: 'NeutraBarbieDemi';
  color:transparent;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 45px;
  white-space: nowrap;
  right:355px;
  top:200px;
  z-index: 8;
  position: absolute;
}

iframe {
  z-index: 14;
  position:absolute;
  width:480px;
  height:350px;
  top:310px;
  right:735px;
}

.background {
  background: url("./img/479 3.png") no-repeat center center fixed;
  background-size: cover;
}

.button {
  background-image: url(img/785.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  outline: none;
  background-color: transparent;
  white-space: nowrap;
  transition-duration: 0.02s;
  border: none;
  right:350px;
  top: 625px;
  position: absolute;
  height: 80px;
  width: 270px;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 40px;
  color:white;
}

.button:hover {
  background-image: url(img/786.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  outline: none;
  background-color: transparent;
  white-space: nowrap;
  border: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100vw;
  height: 100vh;
}

#shop {
  color: #d55da5;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 25px;
  white-space: nowrap;
  right:447px;
  top:300px;
  z-index: 8;
  position: absolute;
}

#games {
  color: #d55da5;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 25px;
  white-space: nowrap;
  right:459px;
  top:345px;
  z-index: 8;
  position: absolute;
}

#fashion {
  color: #d55da5;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 25px;
  white-space: nowrap;
  right:423px;
  top:390px;
  z-index: 8;
  position: absolute;
}

#chat {
  color: #d55da5;
  font-family: 'NeutraBarbieDisplayBold';
  font-size: 25px;
  white-space: nowrap;
  right:410px;
  top:435px;
  z-index: 8;
  position: absolute;
}

#notice {
  color: #f0b5de;
  font-family: 'NeutraBarbieItalic';
  font-size: 23px;
  white-space: nowrap;
  text-align: center;
  right:357px;
  top:470px;
  z-index: 8;
  position: absolute;
}

#shop-icon {
  transform: scale(0.4, 0.4);
  z-index: 9;
  right:525px;
  top:270px;
  position:absolute;
}

#games-icon {
  transform: scale(0.4, 0.4);
  z-index: 9;
  right:512px;
  top:309px;
  position:absolute;
}

#fashion-icon {
  transform: scale(0.4, 0.4);
  z-index: 9;
  right:512px;
  top:350px;
  position:absolute;
}

#chat-icon {
  transform: scale(0.4, 0.4);
  z-index: 9;
  right:504px;
  top:391px;
  position:absolute;
}

/* Grid */

item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border: 1px solid transparent;
}

/* Grid row 1, column 1 */
item:first-child {
  grid-column: 1 / 3; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 1 / 3;    
}

/* Grid row 1, column 2 */
item:nth-child(2) {
  grid-column: 3 / 11;
  grid-row: 1 / 3;   
}

/* Grid row 1, column 3 */
item:nth-child(3) {
  grid-column: 11 / 13; 
  grid-row: 1 / 3;  
}

/* Grid row 1, column 9 */
item:nth-child(9) {
  grid-column: 6 / 8;
  grid-row: 2 / 4;  
}

/* Grid row 4, column 8 */
item:nth-child(44) {
  grid-column: 6 / 8; 
  grid-row: 7 / 9;  
}

.rb {
  width: 100px;
  height: 100px;
}

#rb {
  transform: scale(0.3, 0.3);
  z-index: 5;
  top: -40px;
  right: 1243px;
  position:fixed;
}

.lb {
  width: 100px;
  height: 100px;
}

#lb {
  transform: scale(0.3, 0.3);
  z-index: 5;
  top: 50px;
  right: 200px;
  position:fixed;
}

.bgr-modal {
  width: 100px;
  height: 100px;
}

#bgr-modal {
  transform: scale(0.4, 0.4);
  z-index: 6;
  right:100px;
  top:-240px;
  position: absolute;
}

#rulestxt{
  z-index: 13;
  color: white;
  top: 805px;
  right: 625px;
  position:absolute;
}

#rules-bg {
  z-index: 11;
  top: 765px;
  right: 360px;
  transform: scale(0.4, 0.4);
  position:absolute;
}

#rules-fg {
  z-index: 12;
  top: 780px;
  right: 375px;
  transform: scale(0.4, 0.4);
  position:absolute;
}

#rules-hl{
  z-index: 14;
  top: 782px;
  right: 385px;
  transform: scale(0.4, 0.4);
  position:absolute;
}

#rules-link:hover~#rules-fg{
  display: none;
}

#socialstxt{
  z-index: 13;
  color: white;
  top: 805px;
  right: 409px;
  position:absolute;
}

#socials-bg {
  z-index: 11;
  top: 765px;
  right: 115px;
  transform: scale(0.4, 0.4);
  position:absolute;
}

#socials-fg {
  z-index: 12;
  top: 780px;
  right: 130px;
  transform: scale(0.4, 0.4);
  position:absolute;
}

#socials-hl{
  z-index: 14;
  top: 785px;
  right: 140px;
  transform: scale(0.4, 0.4);
  position:absolute;
}

#socials-link:hover~#socials-fg{
  display: none;
}

.barbie {
  width: 100px;
  height: 100px;
}

#barbie {
  transform: scale(0.35, 0.35);
  z-index: 6;
  top: -250px;
  right: 1050px;
  position:absolute;
}

.cones {
  width: 100px;
  height: 100px;
}

#cones {
  transform: scale(0.35, 0.35);
  z-index: 7;
  top: 400px;
  right: 700px;
  position:absolute;
}

#bgr-picframe {
  transform: scale(0.4, 0.4);
  z-index: 7;
  position:absolute;
  top:-55px;
  right:260px;
}

#bgr-logo {
  transform: scale(0.35, 0.35);
  z-index: 4;
  top: -400px;
  right: 100px;
  position:absolute;
  
}

#bgr-bg {
  transform: scale(0.4, 0.4);
  z-index: 3;
  left: 5px;
  top: 5px;
  position:relative;
}

#bgr-frame {
  transform: scale(0.4, 0.4);
  z-index: 2;
  position:absolute;
}

#bgr-design {
  transform: scale(0.4, 0.4);
  z-index: 1;
  position:absolute;
}

.base {
  right: -715px;
  top: -475px;
  position:fixed;
}

#unity {
  right: 350px;
  top: 0px;
  z-index: 7;
  position:fixed;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}